<html lang="en">
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>" class="">
  <div class="wrapper ">
      <% include partials/template/header.ejs %>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#pablo">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="material-icons">notifications</i> Notifications
                </a>
              </li>
              <!-- your navbar here -->
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable table</h3>
    <div class="card-body">
        <div id="table" class="table-editable">
            <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a></span>
            <table class="table table-bordered table-responsive-md table-striped text-center">

                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Pin</th>
                    <th class="text-center">Type</th>
                    <th class="text-center">Value</th>
                    <th class="text-center">Remove</th>
                </tr>
                <tbody class="device-list"></tbody>




                <!-- This is our clonable table line -->
                </table>


        </div>
    </div>
</div>
<!-- Editable table -->
          <!-- your content here -->
        </div>
      </div>
<!--       <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Creative Tim
                </a>
              </li>
            </ul>
          </nav>
         <<div class="copyright float-right">
                   <<script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons">favorite</i> by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
          </div>
           your footer here
        </div>
      </footer> -->
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/js/list.js"></script>
        <% include partials/template/jsdefaults.ejs %>
</body>

</html>
